{% extends "pmain.html" %}
{% block body %}
{% load static %}

<body>
    <div class="container">
        <div class="row">
            <style>
                .transitionabs{
    position: relative;
}
.behindbx1{
    width: 15%;
    height: 32px;
    position: absolute;
    top: 1px;
    background-color: #fff;
    left: 1.4%;
    padding-left: 10px;
}
.behindbx1 h5{

}
.behindbx2{
    width: 69%;
    height: 32px;
    position: absolute;
    top: 1px;
    background-color: #fff;
    left: 29%;
}

.behindbx3{
    width: 18%;
    height: 24px;
    position: absolute;
    top: 10%;
    background-color: #f9f9f9;
    left: 60%;
}
            </style>
            <div class="col-md-12 mt-5 transitionabs">
                <div class="behindbx1">
                    <h5>Meta IT</h5>
                </div>
                <div class="behindbx2"></div>
<!--                <div class="behindbx3">-->
<!--                    <h5>Output</h5>-->
<!--                </div>-->
<!--                <iframe src="https://trinket.io/embed/python/9e4a31ddfe" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>-->
<!--                    <iframe src="https://trinket.io/embed/html/9133494053?runMode=autorun" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>-->
                <iframe src="https://trinket.io/embed/html/6366dec79f?runMode=autorun" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</body>

<script>

</script>

{% endblock body %}